<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL shortener</title>
</head>
<body>

    <form method="POST" action="/url">
        <input type="url" name="url" placeholder="url">
        <input type="submit">
    </form>

    <hr>

    <h3>URLS</h1>

    <% short_urls.forEach(s_url => {%>
        <ul>
            <li><a href="<%= s_url.full %>"><%= s_url.full %></a></li>
            <li><a href="<%= s_url.short %>"><%= s_url.short %></a></li>
            <li>Inspiration time: <%= s_url.live_time %></li>
            <li>Creation time: <%= s_url.created_on %></li>

        </ul>
    <% }) %>


</body>
</html>
